<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grocery lists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous" />
</head>
<body>
    <table class="table table-striped">
    	<thead>
    		<tr>
    			<th>Name</th>
    			<th>Products</th>
    		</tr>
    	</thead>
    	<tbody>
	    	<tr th:each="list : ${lists}">
	    		<td th:text="${list.name}"></td>
	    		<td th:text="${list.productCount}"></td>
	    		<td>
	    			<form style="display: inline" method="get" th:action="@{/lists/{id}(id=${list.id})}">
	    				<button type="submit" class="btn">Edit</button>
	    			</form>
	    			<form style="display: inline" method="post" th:action="@{/lists/{id}/delete(id=${list.id})}">
	    				<button type="submit" class="btn">Delete</button>
	    			</form>
	    		</td>
	    	</tr>
	    </tbody>
    </table>
    <br />
    <span th:text="|${recipeCount} recipe(s) defined|"></span>
    <br />
    <form method="post" th:action="@{/lists/create}">
    	<button type="submit" name="submit" value="value" class="btn">Add</button>
    </form>
</body>
</html>