<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grocery lists</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
    	<thead>
    		<tr>
    			<th>Name</th>
    			<th>Products</th>
    		</tr>
    	</thead>
    	<tbody>
	    	<tr th:each="list : ${lists}">
	    		<td th:text="${list.name}"></td>
	    		<td th:text="${list.productCount}"></td>
	    		<td><a th:href="@{/lists/{listId}(listId=${list.id})}">Edit</a></td>
	    	</tr>
	    </tbody>
    </table>
    <br />
    <span th:text="|${recipeCount} recipe(s) defined|"></span>
</body>
</html>